:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 1300px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.navigation {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}
.gridh1 {
  text-align: left;
  font-size: 35px;
}
.gridh3 {
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
}

@media (max-width: 576px) {
  .image {
    display: none;
  }
  h1 {
    font-size: 60px;
    margin-top: 0px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
    padding: 15px;
  }
  .gridh1,
  .gridh3 {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
  }
  img {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  .about-h1 {
    padding: 30px;
  }
}
